.albert-sans {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes usar 400, 500, 700 según lo que importaste */
  font-style: normal;
}

body {
  background: linear-gradient(to top, #1a0841, #482478);
  color: white;
  margin-top: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid.bg-contenido {
  flex-grow: 1;
}

.bg-contenido {
  background: #211138;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "albert-sans", sans-serif;
  font-weight: 700;
  color: white;
}

p {
  font-family: "albert-sans", sans-serif;
  font-weight: 200;
  color: white;
}

.imagen-quienes {
  display: flex;
  justify-content: center;
}

.imagen-quienes img {
  width: 100%;
  max-width: 370px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Texto más pequeño en pantallas pequeñas */
@media (max-width: 768px) {
  .imagen-quienes {
    justify-content: center;
    margin-top: 1rem;
  }

  .imagen-quienes img {
    max-width: 250px;
  }

  h1 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .margin-small {
    padding-top: 200px;
  }
}

.miembro p {
  font-size: 0.95rem;
  color: white;
}

.miembro-img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.miembro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.linkedin-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.linkedin-link i {
  font-size: 3rem;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.miembro-img:hover .linkedin-link {
  opacity: 1;
}

.miembro-img:hover .linkedin-link i {
  transform: scale(1.2);
}

.miembro-nombre {
  padding-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.miembro-titulo {
  color: white;
  font-weight: 300; /* letra delgada */
  font-size: 0.95rem;
  line-height: 1.3;
}
